/* GLOBAL BASE STYLES */

body {
  background: #f5f7fb;
  font-family: 'Inter', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.snack-top-offset {
  margin-top: 84px !important;
}